@media (max-width: 84em) {
  header {
    max-width: 120rem;
  }
  .relative {
  }
  .timeline {
    margin-top: 9%;
  }
  .the_class {
    text-align: left;
  }
}
/* **************************** */
@media (max-width: 75em) {
}
/* ******************************* */

@media (max-width: 59em) {
  /* html { */
  /* font-size: 59%;
  }
  header {
    max-width: 100%;
    font-size: 2.4rem;
    height: 7.7rem;
    border-bottom: 2px solid #ffff;
  }
  .display__flex__around {
    display: flex;
  }
  .display__flex__around nav {
    width: 100%;
  }
  .display__flex__around ul {
    margin-left: 0%;
  }
  .display__flex__between {
    width: 100%;
  }
  .grid__1 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .container {
    max-width: 60rem;
  }
  .introduction {
    background: linear-gradient(to bottom, #19211e, white);
  }
  #text {
    /* margin-top: -27rem !important; */
  /* max-width: 100vw;
    font-size: 1.9rem;
    padding: 2rem;
    color: bisque;
    font-weight: 400;
    padding-right: 5rem;
  }
  #img {
    display: block;
    margin-left: 0;
    justify-content: center;
    align-items: center;
    top: -0.5rem;
  }

  #img img {
    position: relative;
    margin-left: 3.4rem;
    /* margin-top: -0.5rem; */
  /* display: block;
    justify-content: center;
    align-items: center;
    max-width: 60vw;
    height: auto;
  }

  #img::before {
    position: absolute;
    margin-left: 3.5rem;
    content: "";
    width: 60%;
    height: 42.2%;
  }
  .academic__backgrounds {
    height: 100vh;
  }
  .description {
    padding: 1rem;
  }   */
}

@media (max-width: 44em) {
  html {
    font-size: 54%;
  }
  header {
    max-width: 100%;
    font-size: 2.4rem;
    height: 7.7rem;
    border-bottom: 2px solid #ffff;
  }
  .display__flex__around {
    display: flex;
  }
  .display__flex__around nav {
    width: 100%;
  }
  .display__flex__around ul {
    margin-left: 0%;
  }
  .display__flex__between {
    width: 100%;
  }
  .grid__1 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .container {
    max-width: 60rem;
  }
  .introduction {
    background: linear-gradient(to bottom, #19211e, white);
  }
  #text {
    /* margin-top: -27rem !important; */
    max-width: 100vw;
    font-size: 1.9rem;
    padding: 2rem;
    color: bisque;
    font-weight: 400;
    padding-right: 5rem;
  }
  #img {
    display: block;
    margin-left: 0;
    justify-content: center;
    align-items: center;
    top: -0.5rem;
  }

  #img img {
    position: relative;
    margin-left: 3.4rem;
    /* margin-top: -0.5rem; */
    display: block;
    justify-content: center;
    align-items: center;
    max-width: 60vw;
    height: auto;
  }

  #img::before {
    position: absolute;
    margin-left: 3.5rem;
    content: "";
    width: 60%;
    height: 40%;
  }
  .academic__backgrounds {
    height: 100vh;
  }
  .description {
    padding: 1rem;
  }
}

@media (max-width: 34em) {
  html {
    font-size: 54%;
  }
  header {
    max-width: 100vw;
    font-size: 1.7rem;
    border-bottom: 3px solid white;
  }
  .container {
    width: 100vw;
  }
  .display__flex__around {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding-top: 1rem;
  }
  .display__flex__around nav {
    margin-left: 1rem;
  }
  .display__flex__between li {
    width: 100%;
    display: block;
  }
  .display__flex__around ul {
    margin-left: -20%;
  }
  .introduction {
    font-size: 1rem;
    height: 100vh;
  }
  .grid__1 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .introduction {
    background: linear-gradient(to bottom, #19211e, white);
  }
  #text {
    /* margin-top: -27rem !important; */
    max-width: 100vw;
    font-size: 1.6rem;
    padding: 2rem;
    color: bisque;
    font-weight: 400;
    padding-right: 5rem;
  }
  #img {
    display: block;
    margin-left: 0;
    justify-content: center;
    align-items: center;
  }

  #img img {
    position: relative;
    margin-left: 3.4rem;
    margin-top: 0.5rem;
    display: block;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    height: auto;
    padding-bottom: 2px;
  }

  #img::before {
    position: absolute;
    margin-left: 3.5rem;
    content: "";
    width: 80vw;
    height: 38.3vh;
    animation: animate 5s infinite;
  }
  .academic__backgrounds {
    height: 90vh;
    margin-top: -35%;
  }
  .academic__backgrounds .img img {
    /* opacity: 0;
    visibility: hidden; */
  }
  .grid___2 {
    display: flex;
    flex-direction: column-reverse;
  }
  .img img {
    opacity: 0;
    visibility: hidden;
  }
  .description {
    top: 1rem;
    left: 4rem;
  }
  .adventure {
    max-width: 100%;
    margin-top: -20% !important;
  }
  .adventure ul {
    display: flex;
    width: 100%;
  }
  .adventure li {
    display: flex;
    flex-direction: column;
    width: 100%;
    right: 3rem;
    left: 2%;
    animation: none;
    background: var(--bg-color);
  }
  .adventure li span {
    animation: anim 1s infinite;
  }
  .adventure li::before {
    position: absolute;
    content: "";
    height: 500px;
    left: 7.2%;
    width: 7px;
    background: red;
    animation: anim 2s infinite;
  }
  @keyframes anim {
    0% {
      border: 6px solid red;
    }
    25% {
      border: 6px solid green;
    }
    50% {
      border: 6px solid yellow;
    }
    100% {
      border: 6px solid orange;
    }
  }
  .adventure li:last-child::before {
    background-color: var(--bg-color);
  }

  .adventure li div {
    top: 16rem;
    width: 60%;
    height: auto;
    left: 33%;
    padding-left: 2rem;
  }
  .adventure li div .title__1 {
    color: red;
    font-size: 1.6rem;
    font-weight: 600;
  }
  .adventure li div::before {
    opacity: 0;
  }
  .adventure li:last-child {
    background: var(--bg-color);
    width: 100%;
  }
  .academic__backgrounds .title {
    margin-top: -70%;
  }
  .description {
    max-width: 100vw;
    height: auto;
  }
  .adventure {
    display: flex;
    flex-direction: column;
  }
  .text_bold {
    font-size: 2rem;
  }
  .verticaLigne {
    height: 1600px;
  }
  .timeline {
    left: 43%;
  }
  .timeline img {
    text-align: center;
    /* padding-top: 1rem; */
    aspect-ratio: 3/3;
    object-fit: cover;
    border-radius: 50%;
  }
  .the_class {
    font-size: 1.2rem;
  }
  .timeline-container-left {
    left: 5%;
    margin-top: 9px;
  }
  .timeline-container-left {
    margin-right: 17px;
  }
  .timeline-container-right {
    margin-left: 17px;
    margin-top: 34px;
  }
  .timeline-container-left .timeline-pointer-left {
    left: 33%;
    margin-top: 16px;
  }
  footer .text-content {
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
}
